body{
	background-color: white;
	background-size:100% 100%;
	background-attachment: fixed;
}

h2{
	text-align: center;
    text-decoration: none;
    display: inline-block;
	position: relative;
	top: 150px;
	left: 70px;

}

h1{
    font-size: 60px;
    position: absolute;
	top: 10%;
	left: 42%;
}

.left-list{
	width: 300px;
	height: 400px;
	border: 3px solid lightslategrey;
	border-radius: 5%;
}

#notice{
	position: absolute;
	top: 30%;
	left: 15%;
	background-color: #6699CC;
}

#progress{
	position: absolute;
	top: 30%;
	left: 40%;
	background-color: #999999;
}

#reminder{
	position: absolute;
	top: 30%;
	left: 65%;
	background-color: #CCCCCC;
}
